* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body { 
  min-height: 100vh; 
}

/* DashBoard styling starts here */
/* NavBar Styling starts here */
.top_navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background: #ffff;
  position: relative;
}
  
.logo_container {
  display: inline-block;
  width: 160px;
  height: 50px;
  margin-left: 2.4rem;
  position: absolute;
  left: 5rem;
  top: 1rem;
}
  
.logo_img {
  padding-bottom: 2.2rem;
}

.hamburger:hover {
  color: #F5D4D6 !important;
  outline: 1px solid red;
}

.bar_icon {
  cursor: pointer;
}
  
.right_nav h1 {
  display: inline;
  margin-left: .5rem;
  position: absolute;
  bottom: .1rem;
  font-size: 1.9rem;
  font-weight: 600; 
}
  
.left_nav {
  width: 170px;
  height: 50px;
}
  
.left_nav .bell_icon {
  margin-right: 1rem;
}

.coloredBell {
  margin-left: 62rem;
  width: 48px;
  height: 60px;
  position: absolute;
  left: 9.5rem;
}
  
.left_nav img {
  margin-top: -2.2rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: 3px solid #F54F59;
}
  
.dropdown_arrow {
  margin-bottom: .8rem;
}
/* NavBar Styling starts ends here */

/* Dropdown Profile styling */
.dropdownProfile {
  width: 344px;
  height: 405px;
  position: absolute;
  left: 62rem;
}

.polygon {
  margin-left: 14.8rem;
  margin-top: -1.9rem;
}

.profileCard {
  display: flex;
  width: 296px;
  height: 70px;
  margin-left: 1.3rem;
}

.profileCard img {
  border-radius: 50%;
  border: 2px solid #F54F59;
  margin-top: .2rem;
}

.profileCard h2 {
  font-family: 'Mont';
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 24px;
  color: #252525;
  width: 189px;
  height: 24px;
  margin-left: 1rem;
}

.profileCard span {
  margin-left: 1rem;
  font-family: 'Mont';
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 18px;
  color: rgba(58, 58, 58, 0.5);
}
.profileDropdownCourse {
  display: inline-block;
}

/* .profileDropdownEmail {
  outline: 1px solid red;
} */
  
/* SideNavBar Styling starts here*/
.profilePic {
  width: 112px;
  height: 112px;
  margin-top: 2rem;
  margin-left: 3rem;
}

.profileName {
  width: 155px;
  height: 21px;
  margin-left: 1.9rem;
  font-size: 1rem;
  font-family: Mont;
  font-weight: 800;
  color: #252525;
  margin-top: 0.5rem;
}

.profileCourse {
  font-size: .87rem;
  color: #3A3A3A;
  font-weight: 600;
  font-family: Mont;
  margin-left: 3.6rem;
  position: absolute;
  top: 11rem;
}
  
.profile-content {
  width: 160px;
  height: 150px;
  text-align: center;
  margin-left: 3rem;
  margin-bottom: 2.6rem;
  padding-top: 2rem;
}
  
.profileImg {
  border-radius: 50%;
  border: 3px solid #F54F59;
}

/* .collapsedProfilePic {
  display: none;
} */

.collapsedProfilePic {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px auto;
  background-color: #ccc;
}

.profilePicSmall {
  width: 40px;
  height: 69px;
}

.profileImgSmall {
  width: 70px;
  border: 3px solid #F54F59;
  border-radius: 50%;
  margin-left: 0.48rem;
}



#menuItem {
  margin-top: 1.4rem;
}

.active a {
  width: 268px;
  height: 48px;
  background-image: url('../images/active-icon.svg');
  background-repeat: no-repeat;
  background-color: #F5D4D6;
  background-position-y: 0.5rem;
  font-weight: 600;
}

/* .custom-class {
  color: #F54F59;
} */

/* .custom-class.active img {
  fill: red;
} */


/* .activeMenuItemStyle {
  background-color: red !important;
  color: #333 !important;
} */

#menuItem img {
  padding-left: .6rem;
}

.menu_link {
  margin-left: 2rem;
  font-weight: 450;
}

.menu_logout {
  margin-left: 1.5rem;
  font-weight: 450;
}

.logout_item {
  margin-top: 7rem;
}

.hr_line {
  border: 1px solid #a3a0a0;
  width: 200px;
  margin-left: 1.8rem;
  margin-top: 4.6rem;
  margin-bottom: 4.9rem;
}
/* SideBar Styling ends here */
  
/* Main Styling starts here */
.wrapper {
  display: flex;
  background: #FEF2F2;
  /* border: 1px solid red; */
}

.wrapper {
  margin: auto;
  overflow: scroll;
}
  
.main_content {
  width: 148vh;
  height: 1100px;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  margin-top: 1rem;
}
  
  .greetings_container {
    display: flex;
    justify-content: space-between;
  }
  
  .greetings h1 {
    width: 345px;
    height: 29px;
    font-size: 1.4rem;
    margin-left: 2.8rem;
    color: #252525;
    margin-bottom: 0;
  }
  
  .greetings span {
    margin-left: 2.8rem;
    font-size: .92rem;
    color: #3A3A3A;
  }
  
  .resume_lesson {
    width: 215px;
    height: 21px;
    font-size: 1.1rem;
    margin-top: 1rem;
    display: flex;
  }
  
  .resume_lesson a {
    text-decoration: none;
    color: #F54F59;
  }
  
  .resume_lesson a:hover {
    text-decoration: underline solid #F54F59;
    cursor: pointer;
    color: #F54F59;
  }
  
  .resume_lesson span {
    margin-left: 0.5rem;
    cursor: pointer;
    top:0.3rem;
  }
  
  .flex-container {
    margin-top: 2rem;
    position: relative;
    height: 216px;
  }
  
  .col {
    width: 203px !important;
  }
  
.flex-item {
    width: 180px !important;
    height: 219px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 0.9rem;
    margin-right: 0.75rem;
    padding-right: 1rem;
  }
  
  .flex-p {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    color: #252525;
  }
  
  .black-arrow {
    margin-left: 0.5rem;
    position: absolute;
    top: 1.3rem;
  }
  
  .live-icon {
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

/*  
  .ongoing {
    margin-right: 1rem;
  }
   */
  .live-details {
    width: 171px;
    height: 16px;
  }
  
  .live-details span {
    font-size: .7rem;
    color: #3A3A3A;
    margin-left: .1.5rem; 
    margin-top: 8rem;
    position: relative;
    top: -0.1rem;
    margin-right: 1rem;
  }

/* incomplete task styling */
.incomplete_task_wrapper {
  width: 895px;
  height: 368px;
  margin-left: 2rem;
  margin-top: 2rem;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.62rem;  
}

.task_flex {
  display: flex;
  justify-content: space-between;
}

.task_title {
  margin-top: 0.9rem;
  height: 24px;
  margin-left: 1rem;
}

.task_title h2 {
  color: #252525;
  font-size: 1.2rem;
  font-family: 'Mont';
  font-weight: 700;
}

.task_dropdown {
  position: relative;
}

.task_dropdown select {
  width: 200px;
  height: 48px;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  font-family: 'Mont';
  color: #3A3A3A;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.8rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
} 

.arrowIcon {
  width: 32px;
  height: 30px;
  text-align: center;
  margin-top: -2.4rem;
  margin-left: 9.7rem;
}

/* incomplete task styling ends */

/* Table styling */
.table {
  overflow-y: scroll; /* Add the ability to scroll */
  width: 100px;
  height: 300px;
  margin-top: .6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.table::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.header {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 21px;
  color: #3A3A3A;
}

.tableData {
  font-family: 'Mont';
  font-weight: 500;
  font-size: 1rem;
  color: #3A3A3A;
  margin-left: 1rem;
  line-height: 5px;
}

.fixed {
  margin-left: 2.3rem;
}

.tableDate {
  width: 80px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  color: #3A3A3A;
}

.pending {
  font-family: 'Mont';
  font-style: italic;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  color: #F54F59;
}

.graded {
  font-family: 'Mont';
  font-style: italic;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  color: #1A9447;
}

.awaiting {
  font-family: 'Mont';
  font-style: italic;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  color: #F1A207;
}

.tableLink {
font-family: 'Mont';
font-style: normal;
font-weight: 500;
font-size: 0.8rem;
line-height: 16px;
text-decoration-line: underline;
color: #3A3A3A;
}
/* Table styling ends */

/* Course in progress */
.courses {
  width: 160px;
  height: 24px;
  font-family: Mont;
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 2.7rem;
  margin-top: 2rem;
  color: #252525;

}

.cardFlex {
  display: flex;
}

.cardWrapper {
  margin-top: 1rem;
  width: 210px;
  height: 240px !important;
  margin-left: 2.7rem;
  border-radius: 1rem !important;
  overflow: hidden;
}

.cardImg {
  height: 160px;
  border-top-right-radius: 1rem;
  position: relative;

}

.cardWrapper::after {
  content: "";
  background-color: rgba(9, 155, 136, 0.7); 
  position: absolute;
  height: 160px;
  width: 210px;
  top: 0;
  bottom: 0;
}

.cardWrapper::after {
  content: "";
  background-image: url('../images/stutern.svg');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.cardWrapper2 {
  margin-top: 1rem;
  width: 210px;
  height: 240px !important;
  margin-left: 1rem;
  border-radius: 1rem !important;
  overflow: hidden;
}

.cardWrapper2::after {
  content: "";
  background-color: rgba(9, 155, 136, 0.7); 
  position: absolute;
  height: 160px;
  width: 210px;
  top: 0;
  bottom: 0;
}

.cardWrapper2::after {
  content: "";
  background-image: url('../images/stutern.svg');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  top: 0;
  bottom: 0;
}


.card_body_flex {
  display: flex;
  justify-content: space-between;
}


.cardWrapper2::before {
  content: "";
  background-size: 35px;
  background-position-x: 10rem;
  background-position-y: 0.8rem;
  background-image: url('../images/course-in-view.svg');
} 

.card_title {
  font-family: 'Mont';
  font-weight: 700;
  font-size: 1.1rem;
  color: #030303;
}

.card_text {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  color: #505050;
}

.card_black_arrow {
  color: #505050;
  margin-top: 1rem;
}
/* Course in progress ends */

/* Log Out Pop up Styling */
.modal {
  width: 448px !important;
  margin-left: 31rem !important;
}

.modal h2 {
  margin-top: 3.5rem;
  font-family: 'Mont';
  font-weight: 550;
  font-size: 1.75rem;
  line-height: 24px;
  text-align: center;
  color: #F54F59;
}

.modal object {
  width: 60px;
  text-align: center;
  margin-left: 12rem;
  margin-top: 1.4rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 4.3rem;
}

.btnNo {
  width: 144px;
  height: 48px;
  background-color: #FFFFFF;
  color: #F54F59;
  border: 1px solid #F54F59;
  border-radius: 5px;
  margin-bottom: 3.5rem;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
}

.btnYes {
  width: 144px;
  height: 48px;
  background: #F54F59;
  border-radius: 5px;
  border: none;
  color: #ffff;
  margin-bottom: 3.5rem;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
}
/* Log Out Pop up Styling ends here */

/* @media only screen and (min-width: 1200px) {
  .flex-container {
   
  }
} */
/* DashBoard styling ends here */
/* FAQ styling */
.faqBanner {
  outline: 1px solid red;
  width: 1099px;
  height: 96px;
}

.accordion {
  outline: 1px solid blue;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-top: 3rem;
}

.accordion-icon {
  margin-left: auto;
}

.accordion-header:not(.collapsed) object {
  display: none;
}

.accordion-header.collapsed object {
  display: none;
}


/* .accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
} */

/* Course Content styling */
/* search bar */
.searchBar {
  margin-left: 13.5rem;
  margin-top: 1rem;
  width: 712px;
  height: 48px;
  padding-left: 2rem;
  background: #FFFFFF;
  border: 1px solid #A2A2A2;
  border-radius: 10px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 21px;
  color: #A2A2A2;
  background-image: url('..//images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 42rem;
  outline: none;
}

.courseTitle {
  width: 196px;
  height: 34px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 34px;
  color: #252525;
  margin-left: 6.2rem;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}

/* Module courses */
.link {
  text-decoration: none;
}

#card {
  /* outline: 1px solid red; */
  width: 944px;
  height: 175px;
  border-radius: 10px;
  /* overflow: hidden; */
  margin-left: 6.2rem;
}

#cardBody {
  padding: 0;
  margin: 0;
}

.moduleName {
  /* outline: 1px solid blue; */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 69.56%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(30.5px);
  border-radius: 10px 0px 0px 0px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #FFFFFF;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 26px;
  text-transform: uppercase;

}

.modulePic {
  /* outline: 1px solid red; */
  margin-top: -.8rem;
}

.courseFlex {
  display: flex;
}

.header {
  padding-left: 1.7rem;
  display: flex;
  gap: 14rem;
  margin-top: 0.9rem;
}
.header p {
  font-family: 'Mont';
font-style: normal;
font-weight: 700;
line-height: 21px;
font-size: 1rem;
color: #252525;
}

.secondRow {
  padding-left: 1.7rem;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 19px;
color: #3A3A3A;
}

.tutorRow {
  
}

.hR {
  margin-left: 1.7rem;
  border: 1px solid rgba(91, 89, 89, 0.4);
  margin-top: -.4rem;
}

.includes {
  padding-left: 1.7rem;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 16px;
  color: #252525;
}

.thirdRow {
  display: flex;
  padding-left: 1.7rem;
  justify-content: space-between;
  margin-top: 0.9rem;
}

.spanDetails {
  font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 0.8rem;
line-height: 17px;
color: #3A3A3A;
margin-left: 0.6rem;
}

.hrLine {
  margin-left: 6.2rem;
  width: 944px;
}

.activeCard {
  border-right-color: #1A9447;
  border-right-width: 4px;
}

.courseWrapper {
  overflow-y: scroll; /* Add the ability to scroll */
  width: 1062px;
  height: 954px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.courseWrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.courseWrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
} 



/*  Quizzes styling starts here */

.quiz-container h3 {
  margin: 3% 9%;
  font-size: 26px;
  }

.modules {
  width: 950px;
  height: 754px;
  overflow-y: scroll;
  margin-top: -10px;
  margin-left: 90px;
  }

.module-container {
  background: #ffff;
  border-right: 5px solid #1A9447;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  font-family: 'Mont';
  padding-top: 2%;
  padding-left: 8px;
  width: 944px;
  height: 144px;
  color: #3A3A3A;
  cursor: pointer;
}

.module-one-link {
  background: #030303;
  color: red;
}

#module {
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
  width: 70px;
  font-family: 'Mont';
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1rem;
}

#module1 {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 40px;
}

#line {
  margin-left: 20px;
  width: 6px;
  height: 112px;
}

#module1-text {
  margin-left: 20px;
  letter-spacing: 1.5px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

#module1-text1 {
  font-family: 'Mont';
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 24px;
  margin-left: 20px;
}

.module1-sub-container {
  display: flex;
  margin-left: 8px;
  padding-top: 5px;
  width: 530px;
}

#module-image {
  width: 18.03px;
  height: 24px;
}

#module-image-paragraph {
  color: #252525;
  margin-left: 13px;
  font-family: 'Mont';
}

#module-image-paragraph2 {
  color: #1A9447;
  margin-left: 13px;
  position: relative;
  left: 190px;
  font-family: 'Mont';
}

.module-image-paragraph-2-6 {
  color: #F57078;
}

.module-2-6-container {
  background: #ffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  font-family: 'Mont';
  margin-top: 20px;
  padding-top: 2%;
  padding-left: 10px;
  width: 944px;
  height: 144px;
  color: #3A3A3A;
}

#module-2-6-image-paragraph2 {
  color: #F57078;
  margin-left: 13px;
  position: relative;
  left: 190px;
  font-family: 'Mont';
}

.module-image-paragraph-2-6 {
  color: #F57078;
}

.hr {
  width: 944px;
}

.quiz-module-one-container {
  /* border: 1px solid red; */
}

.quiz-moduleone-first-paragraph {
  display: flex;
  margin-top: 30px;
  margin-left: 102px;
  width: 210px;
  justify-content: space-between;
}

#quiz-moduleone-first-paragraph1 {
  color: #252525;
  /* font-style: normal; */
  font-weight: 300;
}

#quiz-moduleone-first-paragraph3 {
  color: #F66771;
}

#quiz-moduleone-first-paragraph4 {
  margin: 10px 105px;
}

.quiz1-card {
  background: #ffff;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 80px;
  margin: 20px 105px;
  padding-left: 20px;
  width: 944px;
}

.quiz1-card-sub-container {
  display: flex;
}

/*  Quizzes styling ends here */