* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body { 
  min-height: 100vh; 
}

@font-face {
  font-family: regular-mont;
  src: url(/src/components/pages/font/Mont-Regular.ttf);
}

@font-face {
  font-family: semi-bold-mont;
  src: url(/src/components/pages/font/Mont-SemiBold.ttf);
}

@font-face {
  font-family: bold-mont;
  src: url(/src/components/pages/font/Mont-Bold.ttf);
}

@font-face {
  font-family: light-mont;
  src: url(/src/components/pages/font/Mont-Light.ttf);
}

/* DashBoard styling starts here */
/* NavBar Styling starts here */
.top_navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  background: #ffff;
  width: 100%;
  z-index: 2;
}
  
.logo_container {
  display: inline-block;
  width: 160px;
  height: 50px;
  margin-left: 2.4rem;
  position: absolute;
  left: 5rem;
  top: 1rem;
}
  
.logo_img {
  padding-bottom: 2.2rem;
  width: 46px;
}

.hamburger:hover {
  color: #F5D4D6 !important;
  outline: 1px solid red;
}

.bar_icon {
  cursor: pointer;
}
  
.right_nav h1 {
  display: inline;
  margin-left: .5rem;
  position: absolute;
  bottom: .1rem;
  font-size: 1.9rem;
  font-family: semi-bold-mont;
}

.leftNav {
  display: flex;
}
  
.left_nav {
  width: 170px;
  height: 50px;
}
  
.left_nav .bell_icon {
  margin-right: 1rem;
  margin-top: .1rem;
  cursor: pointer;
}

.coloredBell {
  margin-left: 62rem;
  width: 48px;
  height: 60px;
  position: absolute;
  left: 9.5rem;
}

.profileArrow {
  cursor: pointer;
}
  
.profile_pic{
  margin-top: .1rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  border: 3px solid #F54F59;
}
  
#dropdown_arrow {
  margin-bottom: .8rem;
  margin-top: .7rem;
}



.dropdown_arrow_up {
  transform: rotate(-180deg);
}

.dropdown_arrow_down {
  transform: rotate(0deg);
}
/* NavBar Styling starts ends here */

/* Dropdown Profile styling */
.dropdownProfile {
  width: 334px;
  height: 385px;
  position: absolute;
  top: 1rem;
  right: 3rem;
  background-color: #FFFFFF;
  margin-top: 5rem;
  z-index: 9;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.polygon {
  margin-top: 2.5rem;
  margin-left: -4rem;
}

.profileCard {
  display: flex;
  width: 334px;
  height: 100px;
  padding-left: 1.3rem;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px ridge;
}

.profileCard img {
  border-radius: 50%;
  border: 2px solid #F54F59;
  margin-top: 1.1rem;
}

.profileCard h2 {
  font-family: bold-mont;
  font-size: 1.1rem;
  line-height: 24px;
  color: #252525;
  width: 189px;
  height: 24px;
  margin-top: 1.1rem;
  margin-left: 1rem;
}

.profileCard span {
  margin-left: 1rem;
  font-family: regular-mont;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 18px;
  color: rgba(58, 58, 58, 0.5);
}
.profileDropdownCourse {
  display: inline-block;
  margin-top: .6rem;
}
.profileDropdownEmail {
  margin-bottom: -2rem;
  position: absolute;
  top: 2.6rem;
}

.spanLink {
  margin-left: 1.5rem;
  font-family: regular-mont;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 24px;
  color: #252525;
}

.profileMenu {
  margin-top: 1.5rem;
}

.settingsIcon {
  position: absolute;
  left: 1.7rem;
  top: 0.8rem;
}

.colorMode {
  width: 334px;
  height: 62px;
  margin-top: 3rem;
  background: #FFFFFF;
  border-radius: 0px 0px 5px 5px;
  border-top: 1px ridge;
  display: flex;
  justify-content: space-around;
  padding-top: 1.2rem;
}

.colorMode p {
  font-family: light-mont;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 21px;
  color: rgba(58, 58, 58, 0.5);
}
/* Dropdown Profile styling ends */
  
/* SideNavBar Styling starts here */
.profilePic {
  width: 112px;
  height: 112px;
  margin-top: .5rem;
  margin-left: 5rem;
}

.profileName {
  width: 175px;
  height: 21px;
  height: 21px;
  margin-left: 3.5rem;
  font-size: 1rem;
  font-family: bold-mont;
  color: #252525;
  margin-top: 0.2rem;
}

.profileCourse {
  font-size: .87rem;
  color: #3A3A3A;
  font-weight: 500;
  font-family: regular-mont;
  margin-left: 4rem;
  position: absolute;
  top: 9.1rem;
  left: 2rem;
}
  
.profile-content {
  width: 160px;
  height: 150px;
  text-align: center;
  margin-left: 3rem;
  padding-top: 2rem;
}
  
.profileImg {
  border-radius: 50%;
  border: 3px solid #F54F59;
}

.profilePicSmall {
  width: 40px;
  height: 90px;
}

.profileImgSmall {
  width: 70px;
  border: 3px solid #F54F59;
  border-radius: 50%;
  margin-left: 0.48rem;
  margin-top: 2rem;
  border-top: 1px ridge;
}

#menuItem {
  margin-top: 1.4rem !important;
}

#menuItem:hover {
  background-color: #FEF2F2;
}

#menuItemLink:hover {
  background-color: #FEF2F2;
}

.navIcon {
  width: 23px;
  margin-left: 1rem;
}

.logoutIcon {
  width: 35px;
  margin-left: 1rem;
}

.courseIcon {
  width: 25px;
}

.course {
  padding-left: -1rem;

}

.active a {
  width: 268px;
  height: 48px;
  background-image: url('../images/active-icon.svg');
  background-repeat: no-repeat;
  background-color: #FEF2F2;
  background-position-y: 0.5rem;
} 

.active .menu_link {
  font-weight: 800;
  font-family: bold-mont;
}

.active .navIcon {
  z-index: 2;
} 

.menu_link {
  margin-left: 2rem;
  font-weight: 500;
  font-family: regular-mont;
}

.menu_logout {
  margin-left: 1.5rem;
  font-weight: 500;
  font-family: regular-mont;
}

.logout_item {
  margin-top: .2rem;
}
/* SideBar Styling ends here */
  
/* Main Styling starts here */
.wrapper {
  display: flex;
  background: #FEF2F2;
  margin: auto;
}
  
.main_content {
  width: 148vh;
  height: 1100px;
  margin-left: 20rem;
  margin-right: 3.5rem;
  margin-top: 6rem;
}

.greetings_container {
  display: flex;
  justify-content: space-between;
}
  
.greetings h1 {
  width: 345px;
  height: 29px;
  font-size: 1.3rem;
  font-family: bold-mont;
  margin-left: 2.8rem;
  color: #252525;
  margin-bottom: 0;
}
  
.greetings span {
  margin-left: 2.8rem;
  font-size: .92rem;
  color: #3A3A3A;
  font-family: regular-mont;
}
  
.resume_lesson {
  width: 200px;
  height: 21px;
  font-size: .9rem;
  font-family: regular-mont;
  margin-top: 1rem;
  display: flex;
  position: relative;
}
  
.resume_lesson a {
  text-decoration: none;
  color: #F54F59;
}

.resumeLesson {
  width: 190px;
  height: 21px;
  margin-left: -3.2rem;
  cursor: pointer;
}

.sideArrow {
  position: absolute;
  left: 8rem;
  bottom: .1rem;
}
  
.resume_lesson a:hover {
  text-decoration: underline solid #F54F59;
  cursor: pointer;
  color: #F54F59;
}

.cardContainer {
  margin-left: -2rem;
  margin-top: 2rem;
  position: relative;
  display: flex;
  gap: .75rem;
}

.cardBox {
  width: 200px;
  height: 205px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.cardText {
  padding-left: 1rem;
  padding-top: 2rem;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: .9rem;
  line-height: 18px;
  color: #252525;
}

.blackArrow {
  margin-left: .5rem;
}
  
  
.liveIcon {
  margin-left: 2.5rem;
  margin-top: .2rem;
}

.liveDetails {
   display: flex;
   gap: .83rem;
   margin-left: 1rem;
   margin-top: 1rem;
}

.cardSpan {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: .75rem;
  line-height: 16px;
  color: #3A3A3A;
}

.cardCircle {
  width: 14px;
  height: 14px;
  margin-right: .25rem;
}
  

/* incomplete task styling */
.incomplete_task_wrapper {
  width: 895px;
  height: 368px;
  margin-left: 2rem;
  margin-top: 2rem;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.62rem;  
}

.task_flex {
  display: flex;
  justify-content: space-between;
}

.task_title {
  margin-top: 0.9rem;
  height: 24px;
  margin-left: 1rem;
}

.task_title h2 {
  color: #252525;
  font-size: 1.2rem;
  font-family: semi-bold-mont;
  font-weight: 700;
}

.task_dropdown {
  position: relative;
}

.task_dropdown select {
  width: 200px;
  height: 48px;
  margin-top: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  font-family: regular-mont;
  color: #3A3A3A;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 0.8rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
} 

.arrowIcon {
  width: 32px;
  height: 30px;
  text-align: center;
  margin-top: -2.4rem;
  margin-left: 9.7rem;
}

/* incomplete task styling ends */

/* Table styling */
.table {
  overflow-y: scroll; /* Add the ability to scroll */
  width: 100px;
  height: 300px;
  margin-top: .6rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.table::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.header {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 21px;
  color: #3A3A3A;
}

.tableData {
  font-family: regular-mont;
  font-weight: 500;
  font-size: 1rem;
  color: #3A3A3A;
  margin-left: 1rem;
  line-height: 5px;
}

.fixed {
  margin-left: 2.3rem;
}

.tableDate {
  width: 80px;
  font-family: regular-mont;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  color: #3A3A3A;
}

.pending {
  font-family: regular-mont;
  font-style: italic;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  color: #F54F59;
}

.graded {
  font-family: regular-mont;
  font-style: italic;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  color: #1A9447;
}

.awaiting {
  font-family: regular-mont;
  font-style: italic;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 18px;
  color: #F1A207;
}

.tableLink {
  font-family: regular-mont;
font-style: normal;
font-weight: 500;
font-size: 0.8rem;
line-height: 16px;
text-decoration-line: underline;
color: #3A3A3A;
}

.tableLink:hover {
  cursor: pointer;
  color: #3A3A3A;
}
/* Table styling ends */

/* Course in progress */
.courses {
  width: 170px;
  height: 24px;
  font-family: semi-bold-mont;
  font-weight: 700;
  font-size: 1.1rem;
  margin-left: 2.7rem;
  margin-top: 2rem;
  color: #252525;

}

.cardFlex {
  display: flex;
}

.cardWrapper {
  margin-top: 1rem;
  width: 210px;
  height: 240px !important;
  margin-left: 2.7rem;
  border-radius: 1rem !important;
  overflow: hidden;
}

.cardImg {
  height: 160px;
  border-top-right-radius: 1rem;
  position: relative;

}

.cardWrapper::after {
  content: "";
  background-color: rgba(9, 155, 136, 0.7); 
  position: absolute;
  height: 160px;
  width: 210px;
  top: 0;
  bottom: 0;
}

.cardWrapper::after {
  content: "";
  background-image: url('../images/stutern.svg');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

.cardWrapper2 {
  margin-top: 1rem;
  width: 210px;
  height: 240px !important;
  margin-left: 1rem;
  border-radius: 1rem !important;
  overflow: hidden;
}

.cardWrapper2::after {
  content: "";
  background-color: rgba(9, 155, 136, 0.7); 
  position: absolute;
  height: 160px;
  width: 210px;
  top: 0;
  bottom: 0;
}

.cardWrapper2::after {
  content: "";
  background-image: url('../images/stutern.svg');
  background-repeat: no-repeat;
  background-size: 65%;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  top: 0;
  bottom: 0;
}


.card_body_flex {
  display: flex;
  justify-content: space-between;
}


.cardWrapper2::before {
  content: "";
  background-size: 35px;
  background-position-x: 10rem;
  background-position-y: 0.8rem;
  background-image: url('../images/course-in-view.svg');
} 

.card_title {
  font-family: semi-bold-mont;
  font-weight: 700;
  font-size: 1.1rem;
  color: #030303;
}

.card_text {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  color: #505050;
}

.card_black_arrow {
  color: #505050;
  margin-top: 1rem;
}
/* Course in progress ends */

/* Log Out Pop up Styling */
.modal {
  width: 448px !important;
  margin-left: 31rem !important;
}

.logOutText {
  margin-top: 3.5rem;
  font-family: regular-mont;
  font-weight: 550;
  font-size: 1.75rem;
  line-height: 24px;
  text-align: center;
  color: #F54F59;
}

.modal object {
  width: 60px;
  text-align: center;
  margin-left: 12rem;
  margin-top: 1.4rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 4.3rem;
}

.btnNo {
  width: 144px;
  height: 48px;
  background-color: #FFFFFF;
  color: #F54F59;
  border: 1px solid #F54F59;
  border-radius: 5px;
  margin-bottom: 3.5rem;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
}

.btn:hover {
  cursor: pointer;
  background-color: #F5D4D6;
}

.btnYes {
  width: 144px;
  height: 48px;
  background: #F54F59;
  border-radius: 5px;
  border: none;
  color: #ffff;
  margin-bottom: 3.5rem;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
}
/* Log Out Pop up Styling ends here */

/* DashBoard styling ends here */


.faqHeader {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 26px;
  color: #252525;
}

.accordionText {
  font-family: Lato;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 22px;
  color: #3A3A3A;
}

.accordionNote {
  font-family: Lato;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 22px;
  color: #F54F59;
}
/* Faq styling ends here */

/* Course Content styling */
/* search bar */
.searchBar {
  margin-left: 13.5rem;
  margin-top: 7rem;
  width: 712px;
  height: 48px;
  padding-left: 2rem;
  background: #FFFFFF;
  border: 1px solid #A2A2A2;
  border-radius: 10px;
  font-family: regular-font;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 21px;
  color: #A2A2A2;
  background-image: url('..//images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 42rem;
  outline: none;
}

.courseTitle {
  width: 240px;
  height: 34px;
  font-family: semi-bold-mont;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 34px;
  color: #252525;
  margin-left: 6.2rem;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.mainCourseWrapper {
  margin-left: 15rem;
  outline: 1px solid red;
  background: #FEF2F2;
  width: 100%;
}

#card {
  width: 944px;
  height: 175px;
  border-radius: 10px;
  margin-left: 6.2rem;
}

#cardBody {
  padding: 0;
  margin: 0;
}

.moduleName {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 69.56%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(30.5px);
  border-radius: 10px 0px 0px 0px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #FFFFFF;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 26px;
  text-transform: uppercase;

}

.modulePic {
  margin-top: -.8rem;
  background-image: url('..//images/module-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 136px;
}

.modulePic:hover {
  background-image: url('..//images/module-1.1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 136px;
  cursor: pointer;
}

.moduleTwo {
  margin-top: -.8rem;
  background-image: url('..//images/module-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 136px;
}

.moduleTwo:hover {
  background-image: url('../images/module-2.2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 136px;
  cursor: pointer;
}

.moduleThree {
  margin-top: -.8rem;
  background-image: url('..//images/module-3.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 136px;
}

.moduleThree:hover {
  background-image: url('../images/module-3.3.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 136px;
  cursor: pointer;
}

.moduleFour {
  margin-top: -.8rem;
  background-image: url('..//images/module-4.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 136px;
}

.moduleFour:hover {
  background-image: url('../images/module-4.4.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 136px;
  cursor: pointer;
}


.courseFlex {
  display: flex;
}

.tutor {
  margin-left: -5.8rem;
}

.tutorAkin {
  margin-left: -4rem;
}

.starIcon {
  margin-right: -2.1rem;
}

.header {
  padding-left: 1.7rem;
  display: flex;
  gap: 14rem;
  margin-top: 0.9rem;
}
.header p {
  font-family: semi-bold-mont;
font-style: normal;
font-weight: 700;
line-height: 21px;
font-size: 1rem;
color: #252525;
}

.secondRow {
  padding-left: 1.7rem;
  display: flex;
  justify-content: space-between;
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 19px;
color: #3A3A3A;
}

.hR {
  margin-left: 1.7rem;
  border: 1px solid rgba(91, 89, 89, 0.4);
  margin-top: -.2rem;
}

.includes {
  padding-left: 1.7rem;
  font-family: semi-bold-mont;
  font-style: normal;
  font-size: .8rem;
  line-height: 16px;
  color: #252525;
}

.thirdRow {
  display: flex;
  padding-left: 1.7rem;
  justify-content: space-between;
  margin-top: 0.9rem;
}


.spanDetails {
  font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 0.8rem;
line-height: 17px;
color: #3A3A3A;
margin-left: 0.6rem;
position: absolute;
padding-top: .1rem;
}

.fileWrapper {
  width: 114px;
  height: 17.49px;
  margin-left: 2rem;
}

.calendar {
  width: 114px;
  height: 17.49px;
  margin-left: -3rem;
  margin-right: -4rem;
}

.hrLine {
  margin-left: 6.2rem;
  width: 944px;
}

.activeCard {
  border-right: 5px solid #1A9447;
}

.courseWrapper {
  overflow-y: scroll; /* Add the ability to scroll */
  width: 1062px;
  height: 934px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.courseWrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.courseWrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
} 



/* Course Module One styling starts here */
.courseModuleOneWrapper {
  background: #FEF2F2;
  padding-left: 20rem;
}

.courseIntro {
  margin-top: 6rem;
}

.courseLink {
  font-family: light-mont;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #252525;
  text-decoration: none;
}

.courseLink:hover {
  text-shadow: -1px 3px 25px rgba(245, 112, 120, 1);
  color: #252525;
}

.greaterThan {
  width: 5px;
  height: 10px;
  color: #252525;
  font-size: 1.2rem;
}

.courseModule {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #F54F59;
}

.moduleFlex {
  display: flex;
  gap: 35rem;
  margin-top: 1.5rem;
}

.moduleLessons {
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 34px;
  color: #252525;
}

.btnLesson {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 7px;
  width: 158px;
  height: 35px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 0.87rem;
  line-height: 17px;
  color: #333333;
}

/* .btnLesson:active {

} */

.cardCourseContainer {
  width: 950px;
  height: 970px;
  overflow-y: scroll;
  margin-top: 0.9rem;
}

.cardCourseContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cardCourseContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
} 


.moduleCard {
  /* width: 970px; */
  height: 548px;
  background: #FFFFFF;
  border-left: 5px solid #F57078;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.moduleDate {
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: light-mont;
  font-style: normal;
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 18px;
  color: #3A3A3A;
}

.moduleCourseTitle {
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
  color: #252525;
  padding-left: 1rem;
}

.moduleCourseText {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 21px;
  color: #333333;
  padding-left: 1rem;
  padding-top: 1.5rem;
}

.courseLinkFlex {
  display: flex;
  gap: 6rem;
}

.courseLessonLink {
  margin-left: 1rem;
}

.lessonLink {
  text-decoration: none;
  font-family: regular-mont;
  font-size: 0.87rem;
  font-style: normal;
  line-height: 18px;
  color: #3A3A3A;
  margin-left: 1rem;
  position: relative;
  top: -.3rem;
}

.lessonLink:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #F57078;
}

.lessonLinkSpan:hover {
  color: #F57078;
}


.courseAssignmentLink:hover {
  color: #F57078;
}

.courseAssignmentLink {
  margin-top: -4rem;
  position: relative;
  top: -.2rem;
}

.lessonImage {
  background-image: url('..//images/lesson-image.png');
  background-repeat: no-repeat;
  width: 900px;
  height: 270px;
  backdrop-filter: blur(2.5px);
  border-radius: 5px;
  margin-top: .87rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.lessonImage::after {
  content: "";
  position: absolute;
  top:6.9rem;
  left: 26rem;
  background-image: url('..//images/youtube-icon.svg');
  background-repeat: no-repeat;
  width: 69px;
  height: 45px;
}

.moduleCommentCard {
  background: #FFFFFF;
  border-top: 5px solid #F57078;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 480px;
  margin-bottom: 2rem;
}

.commentsFlex {
  display: flex;
  margin-top: 1rem;
  gap: 38.6rem;
}

.commentTitle {
  padding-left: 1rem;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 34px;
  color: #252525;
}

.ratingText {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 21px;
  color: #252525;
}

.starComment {
  margin-left: .7rem;
}

.moduleComment {
  margin-left: 2rem;
}

.commentPic {
  border-radius: 50%;
  border: 3px solid #F54F59;
  margin-right: 2rem;
}

.commentSearchBar {
  width: 580px;
  height: 48px;  
  border-radius: 8px;
  outline: none;
  border: none;
  border: 1px solid #A2A2A2;
  padding-left: 1rem;
  font-family: light-mont;
  font-style: italic;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 18px;
  color: #A2A2A2;
  background-image: url('..//images/smiley.svg');
  background-repeat: no-repeat;
  background-position-x: 33.8rem;
  background-position-y: 0.6rem;
}

.moduleChatBox {
  width: 507px;
  height: 208px;
  margin-top: 2rem;
  margin-left: 22.2rem;
  margin-bottom: 2rem;
}

.moduleChatFlex {
  display: flex;
  gap: 2rem;
}

.moduleChatComment {
  background: #FEECED;
  border-radius: 10px;
  width: 395px;
  height: 96px;
}

.moduleChatCommentSmall {
  background: #FEECED;
  border-radius: 10px;
  width: 181px;
  height: 60px;
  margin-left: 13.35rem;
}

.moduleChatName {
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: .87rem;
  line-height: 18px;
  color: #252525;
  padding-top: .5rem;
  padding-left: .5rem;
}

.moduleChatText {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: .87rem;
  line-height: 18px;
  color: #3A3A3A;
  padding-left: .5rem;
  width: 385px;
}

.chatPic {
  border: 3px solid #F54F59;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.moduleChatReactionFlex {
  display: flex;
  margin-left: 14rem;
  gap: 1.5rem;
}

.moduleChatReactionFlexSecond {
  display: flex;
  margin-left: 14rem;
  gap: 1.5rem;
  width: 151px;
  margin-top: -1.3rem;
}

.moduleChatDate {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: .87rem;
  line-height: 17px;
  color: #3A3A3A;
}

.moduleChatReaction {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: .87rem;
  line-height: 17px;
  color: #3A3A3A;
}

.moduleLinkComment {
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: .87rem;
  line-height: 18px;
  color: #F54F59;
  text-decoration: none;
  margin-left: 44.3rem;
  margin-top: 2rem;
}

.moduleLinkComment:hover {
  text-decoration: underline;
  color: #F54F59;
}

/* Course Module One styling ends here */

/* Module 1 Lesson 1 Assignment styling starts here */
.moduleOneAssignmentWrapper {
  background: #FEF2F2;
  padding-left: 20rem;
  height: 850px;
}

.assignmentDeadline {
  height: 24px;
  margin-top: -2rem;
}

.assignmentDeadlineTime {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 21px;
  color: #000000;
  margin-left: .8rem;
}

/* Completed module styling */
.completedModuleTitle{
  margin-top: 2.5rem;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 34px;
  color: #252525;
}

.completedModuleCard {
  display: flex;
  width: 944px;
  height: 173px;
  background: #FFFAFA;
  border-right: 5px solid #1A9447;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.pendingModuleTitle {
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 34px;
  color: #F54F59;
  margin-top: 2.5rem;
}

.pendingModuleWrapper {
  width: 994px;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pendingModuleWrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pendingModuleWrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.pendingModuleCard {
  display: flex;
  width: 944px;
  height: 173px;
  background: #FFFAFA;
  box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.hrModule {
  border: 1px solid rgba(91, 89, 89, 0.4);
  width: 943px;
}

/*  Quizzes styling starts here */
.searchBarQuiz {
  margin-left: 28rem;
  margin-top: 7rem;
  width: 712px;
  height: 48px;
  padding-left: 2rem;
  background: #FFFFFF;
  border: 1px solid #A2A2A2;
  border-radius: 10px;
  font-family: light-mont;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 21px;
  color: #A2A2A2;
  background-image: url('..//images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 42rem;
  outline: none;
}
/*  Quizzes styling ends here */

/* Notification Dropdown styling starts here */
.bellIconToggle {
  background-image: url('..//images/colored-bell.svg');
}

.notificationPolygon {
  margin-left: 1rem;
  margin-top: -.6rem;
}

.notificationCard {
  margin-left: -12rem; 
  margin-top: .2rem;
  width: 344px;
  height: 582px;
  background: #FFFFFF;
  box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.notificationTitleFlex {
  display: flex;
  padding-left: 1rem;
  padding-top: 1rem;
  gap: 6.5rem;
}

.notificationTitle {
  font-family: semi-bold-font;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 18px;
  color: #1E1E1E;
}

.notificationMark {
font-family: semi-bold-mont;
font-style: normal;
font-weight: 700;
font-size: 0.87rem;
line-height: 18px;
text-align: right;
color: #F54F59;
}

.notificationPostContainer {
  width: 312px;
  height: 433px;
  margin-left: 1rem;
}

.notificationPost {
  width: 312px;
  height: 61px;
  display: flex;

}

.notificationPost h4 {
  font-family: bold-mont;
  font-style: normal;
  font-weight: 800;
  font-size: .8rem;
  line-height: 19px;
  color: #252525;
}

.notificationReact {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: .75rem;
  line-height: 14px;
  color: #3A3A3A;
  margin-top: -.5rem;
}

.notificationComment {
  width: 182px;
  height: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: .75rem;
  line-height: 14px;
  color: #3A3A3A;
  padding-left: .8rem;
  border-left: 2px solid #F57078;
  margin-top: -.7rem;
}

.notificationDetails {
  height: 61px;
  margin-left: 1rem;
}

.notificationTime {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: .62rem;
  line-height: 12px;
  color: #F54F59;
  margin-left: .75rem;
}

#notificationTimeColor {
  color: #3A3A3A;
}

.notificationLinkContainer {
  width: 344px;
  height: 43px;
  margin-top: 2rem;
  background: #F54F59;
  border-radius: 0px 0px 5px 5px;
}

.notificationLinkContainer:hover {
  cursor: pointer;
  background-color: #ef3744;
}

.notificationLink {
  text-decoration: none;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding: .68rem 8.7rem .68rem 8.7rem;
  width: 63px;
  height: 21px;
}

.notificationLink:hover {
  color: #FFFFFF;
}
/* Notification Dropdown styling ends here */

/* FAQ styling starts here */
.faqWrapper {
  background: #FEF2F2;
  width: 100%;
}

.faqBanner {
  margin-top: 5.2rem;
  margin-left: 15.7rem;
  width: 1097px;
  height: 96px;
  background:  url('..//images/faqbanner.svg') no-repeat;
  background-position-x: -3rem;
}


.accordion {
  width: 976px;
  height: 970px;
  margin-left: 19rem;
  margin-top: 3rem;
}


.accordionQuestionFlex {
  display: flex;
  justify-content: space-between; 
}

.accordionTitle {
  width: 613px;
  height: 26px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 26px;
  color: #252525;
}

.moreQuestionsWrapper {
  width: 976px;
  height: 112px;
  margin-top: 13rem;
  background: #FDDCDE;
  border-radius: 5px;
}

.moreQuestionFlex {
  display: flex;
}

.youngPic {
  margin-left: .9rem;
  margin-top: 1rem;
}

.youngWomanPic {
  width: 60.7;
  height: 80px;
}

.questionText {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  color: #F54F59;
  margin-top: 1rem;
  margin-left: .897rem;
}

.questionDescription {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: .87rem;
  line-height: 18px;
  color: #3A3A3A;
  width: 612px;
  height: 36px;
  margin-left: .897rem;
}

.questionMark {
  margin-top: -.7rem;
}

.btnAskQuestion {
  margin-left: 7.5rem;
  margin-top: 2rem;
  background: #F54F59;
  border-radius: 5px;
  width: 132px;
  height: 48px;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
}

.btnAskQuestion:hover {
  cursor: pointer;
  background-color: #ef3744;
}

/* Lesson One Assignment styling */
.moduleLessonOneQuestionOne {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #3A3A3A;
}

.moduleLessonOneQuestionTwo {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #3A3A3A;
  margin-top: -.5rem;

} 

.moduleLessonOneAnswer {
  font-family: semi-bold-mont;
font-style: normal;
font-weight: 700;
font-size: 1.4rem;
line-height: 32px;
color: #252525;

}

.textEditor {
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  max-width: 930px;
  height: 176px;
  overflow-y: scroll !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.textEditor::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.textEditor {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.attachContainer {
  width: 930px;
  height: 250px;
  background: #FDDCDE;
  border-radius: 5px;
  margin-top: 2rem;
}

.attachFileFlex {
  display: flex;
}

.attachFileFlexItem {
  margin-left: 1rem;
}

.attachAssignment {
  margin-top: 1rem;
  font-family: regular-mont;
font-style: normal;
font-weight: 600;
font-size: 1rem;
line-height: 24px;
color: #252525;

}

.btnChoose {
  background: #F54F59;
  box-shadow: 0px 0px 0px 4px rgba(181, 200, 214, 0.4);
  border-radius: 4px;
  width: 168px;
  height: 48px;
  font-family: semi-bold-mont;
  font-size: 1rem;
  line-height: 21px;
  color: #ffff;
  border: none;
  outline: none;

}

.attachFileFlexItemTwo {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #3A3A3A;
  margin-left: 1.6rem;
  margin-top: 1rem;
}

.attachBold {
  font-family: semi-bold-mont;
}

.uploadFile {
  width: 900px;
  height: 80px;
  margin-left: 1rem;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding-left: 2.8rem;
  padding-top: 1rem;
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
  color: #252525;
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  cursor: pointer;
  margin-right: 1rem;
}

.fileSize {
  font-family: light-mont;
font-style: normal;
font-weight: 500;
font-size: .9rem;
line-height: 21px;
color: #747474;

}

.error {
  font-family: semi-bold-mont;
  font-size: 1rem;
  color: #ef3744;
}

.lessonSubmit {
  border: none;
  background: #F54F59;
  border-radius: 5px;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 160px;
  height: 50px;
  margin-top: 2rem;
  margin-left: 48rem;
}

.lessonSubmit:hover {
  background-color: #ef3744;
}

/* Submit Modal styling */
.submitQuestion {
  color: #252525;
  font-size: 1.2rem;
  font-family: regular-mont;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

/* submitted modal styling */
.submittedGif {
  width: 304px;
  height: 180px;
  margin-top: 1rem;
  margin-left: 4rem;
}

.submittedText {
  font-family: regular-mont;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: center;
  color: #F54F59;
  margin-top: 2rem;
  margin-left: 1.4rem;
  width: 390px;
}

.btnEdit {
  background: #FFFFFF;
  border: 1px solid #F54F59;
  border-radius: 5px;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: .9rem;
  line-height: 21px;
  text-align: center;
  width: 95px;
  height: 48px;
  color: #F54F59;
  margin-bottom: 4rem;
  margin-top: -6rem;
}

.btnModule {
  background: #F54F59;
  margin-top: -3rem;
  margin-bottom: 4rem;
  border: none;
  border-radius: 5px;
  width: 191px;
  height: 48px;
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: .9rem;
  line-height: 21px;
  text-align: center;
  color: #ffff;
}

.btnModule:hover {
  background-color: #ef3744;
}

/* Notification modal styling */
.notificationFlex {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;

}

.modalNotification {
  overflow-y: scroll;
  width: 798px;
  height: 500px;
}

.notificationPopTitle { 
  font-family: bold-mont;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 35px;
  color: #252525;
  margin-top: 2rem;
}

.notificationClose {
  margin-right: 2.3rem;
  font-family: regular-mont;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 24px;
  color: #252525;
  margin-top: 2rem;
  cursor: pointer;
}

.close {
  font-family: semi-bold-mont;
}

.notificationClose:hover {
  color: #F54F59;
}

.notificationIcon {
  margin-left: 1rem;
  position: relative;
  top: .2rem;
}

.notificationModalLink {
  color: #252525;
  text-decoration: none;
}

.notificationModalLink:hover {
  text-decoration: underline;
  color: #F54F59;
}

.tabsContainer {
  margin: 1.8rem 1.8rem 1rem;
  display: flex;
  justify-content: space-between;
}


.notificationLine { 
  border: 1px solid rgba(162, 162, 162, 0.5);
  margin-top: -.5rem;
  width: 758px;
  margin-left: 1rem;
}

#secondLine {
  margin-left: .1rem;
}

.tabs {
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 24px;
  color: #252525;
}

.tabMark {
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #F57078;
  cursor: pointer;
}

.modalLink {
  text-decoration: none;

}

.activeModalLink {
  border-bottom: 1px solid #F54F59;
}

.tabMark:hover {
  text-decoration: underline solid #F54F59;
  cursor: pointer;
  color: #F54F59;
}

.content-tabs {
  flex-grow : 1;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content p {
  width: 100%;
  height: 100%;
}

.activeContent {
  display: block;
}

.modalNotificationPost {
  width: 758px;
  height: 87px;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

#topCard{
  margin-top: -1.6rem; 
}

.modalNotificationDetails {
  margin-left: .5rem;
}

.modalNotificationDetails h4 {
  font-family: semi-bold-mont;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 21px;
  color: #252525;
}

.modalNotificationReact {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: .85rem;
  line-height: 17px;
  color: #3A3A3A;
  margin-top: -.5rem;
}

.modalNotificationComment {
  width: 530px;
  height: 19px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: .9rem;
  line-height: 14px;
  color: #3A3A3A;
  padding-left: .4rem;
  border-left: 2px solid #F57078;
  margin-top: -4rem;
}

.timeLineContent {
  margin-left: 5.5rem;
}

.modalNotificationTime {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: .7rem;
  line-height: 14px;
  color: #F54F59;
}


/* settings styling */
.settingsWrapper {
  background: #FEF2F2;
  height: 850px;
}

.bannerImage {
  margin-left: 17rem;
  width: 1059px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}




























