* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body { 
    min-height: 100vh; 
  }

/* Assignment styling starts here */
/* NavBar Styling starts here */
/* .sWrapper{
  border: 1px solid green;
  display: block;
  height: 100px;
} */
.aWrapper {
  display: flex;
  background: #FEF2F2;
  margin: auto;
  height: auto;
  
  
}
.searchBar {
    margin-left: 28rem;
    margin-top: 7rem;
    width: 712px;
    height: 48px;
    padding-left: 2rem;
    background: #FFFFFF;
    border: 1px solid #A2A2A2;
    border-radius: 10px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 21px;
    color: #A2A2A2;
    background-image: url('/src/components/pages/dashboardpage/images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 42rem;
    outline: none;
  }
  .assignmentHeader{
    margin: 50px 0 20px 100px;
    font-size: 26px;
    margin-left: 20.4rem;
  }
  .assignmentModulesMainDiv{
    margin: 20px 50px 0 100px;
    height: 40%;
    margin-left: 20rem;
    overflow: scroll; 
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
.assignmentModulesMainDiv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.assignmentModulesMainDiv {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
} 
  
  .assignmentModuleAndTopicCompleted { 
    background: #ffff;
    border-right: 5px solid #1A9447;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 10px;
    width: 944px;
    height: 144px;
    color: #3A3A3A;
  }
  .assignmentModule{
    font-family: 'Mont';
  }
  .assignmentModule{
    display: flex;
    flex-direction: column;
    
  }
  .allModules{
    margin-top: 15px;
    margin-left: 20px;
    text-align: center;
    width: 70px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1rem;
  }
  #assignmentNumber{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 700;
  }
  .verticalLine{
    margin-left: 20px;
    width: 6px;
    height: 112px;
    background-image: url('/src/components/pages/dashboardpage/images/Line.png');
  }
  .assignmentTopic{
    margin-left: 20px;
    letter-spacing: 1.5px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .assignmentsModulesParagraph{
    font-family: 'Mont';
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 24px;
    margin-left: 20px;
    color: #3a3a3a;
  }
  .assignmentsParagraphsDiv{
    display: flex;
    gap: 50px;

  }
  .lessonAssignments{
    color: #252525;
    margin-left: 13px;
    font-family: 'Mont';
    font-weight: 600;

  }
  .lessonIcon{
    margin-right: 13px;
    margin-left: 8px;
    margin-bottom: 3px;
    

  }
  .assignmentsSubmitted{
    color: #1A9447;
    margin-left: 13px;
    font-family: 'Mont';
    font-weight: 600;
  
  }
  .assignmentsSubmittedIcons{
    /* vertical-align: middle; */
    margin-right: 13px;
    margin-bottom: 3px;
    
  }
  .assignmentModuleAndTopicNotCompleted { 
    background: #ffff;
    /* border-right: 5px solid #F54F59; */
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 10px;
    width: 944px;
    height: 144px;
    color: #3A3A3A;
  }
  .assignmentsNotSubmitted{
    color: #f54f59;
    margin-left: 13px;
    font-family: 'Mont';
    font-weight: 600;
  
  }
  



   