@font-face {
    font-family: regular-mont;
    src: url(//src/components/pages/font/Mont-Regular.ttf);
  }
  
  @font-face {
    font-family: semi-bold-mont;
    src: url(//src/components/pages/font/Mont-SemiBold.ttf);
  }
  
  @font-face {
    font-family: bold-mont;
    src: url(//src/components/pages/font/Mont-Bold.ttf);
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


.signUp-container, .forgotPasswordMainDiv{  /* parent div style for all pages except the set password page*/
    background: #F8E8E9;
    width: auto;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 50px;
    
}
.contentContainer, #forgotPassContent-div{
    padding-left: 70px;
}
#headerLogo, #forgotPassHeader{                         
    width: 180px;                                        
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-left: 30px;
    margin-bottom: 10px;
}
#imgHeaderLogo, #forgotPassLogo{                        
    height: 50px;
} 
  
#logoHeader{               /* Citrone text @logo styles for both signUp and password Pages*/                                      
    font-size: 28px;
    font-family: bold-mont;  
    text-align: center;
    margin-top: 10px;
    
}
  
#formSignUp{                           /* form styles for both signUp and forgot password Pages*/
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 80%;
    height: 90%;
    background-color: #fafafa;
    padding: 30px 40px;
  
}
.headerTwo{
    width: 40%;
    font-size: 28px;
    margin-bottom: 30px;
    margin-left: 68px;
    font-family: bold-mont;

}
.inputsContainer{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 35px;
}
#signUpLabels{                             /* All pages share same label styles except the login and set password pages*/
    
    margin-left: 35px;
    font-family: regular-mont;
    font-size: 18px;
}
.namesInputs{
    display: flex;
    flex-direction: row;
    gap: 5%;
    color: #3a3a3a;
    margin-left: 35px;
    width: 826px;
}
.labelNames{
    flex-direction: row;
    width: 7rem;
    justify-content: space-between;
    color: #3a3a3a;
    gap: 20%;
    font-family: regular-mont;
    font-size: 18px;
    
    
}

.fNameInput, .lNameInput{
    outline: none;
    border: 1px solid #A2A2A2;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-width: thin;
    background: #ffffff;
    
}

.fNameInput:hover{
    background: #F8E8E9;
}
.fNameinput[type="text"]:focus {
    background-color: yellow;
  }
.lNameInput:hover{
    background: #F8E8E9;

}
.error{
    color: red;
    font-size: small;
    margin-left: 35px;
}
.emailPasswordContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;  
}
.signUpFieldPassword{
    display: flex;
    flex-direction: row;
}
.inputPasswordEmail{
    width: 88%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 35px;
    border: 1px solid #a2a2a2;
    background: #ffffff;
    outline: none;


}
.inputPasswordEmail:hover{
    background: #F8E8E9;

}
#changePasswordEye{
    /* position: absolute; */
    width: 20px;
    height: 20px;
    margin-left: -33px;
    margin-top: 13px;
}
#admissionCodesWrapper{
    margin-top: 10px;
    gap: 1px;
    padding: 3px 0;
    margin-left: 35px;
}
#asterisk{
    margin-bottom: 7px;
    margin-left: 5px;
}
#admissionCodes{
    margin-bottom: 10px;
    display: flex;
    margin-top: 10px;
    margin-left: 35px;
}
.admissionCode{
    border: 1px solid #a2a2a2;
    outline: none;
    margin-right: 20px;
    width: 77px;
    font-family: semi-bold-mont;
    font-size: 22px;
    text-align: center;
    height: 48px;
    border-radius: 5px;

}
.admissionCode:hover{
    background: #F8E8E9;
}
#admissionCodeText{
    margin: 10px 5px;
    color: #e20e0e;
    font-size: 15px;
    width: 225px;
    margin-top: 5px;
    font-weight: 600;
}
.termsAndPrivacy{
    font-family: regular-mont;
    font-size: 18px;
    width: 700px;
    margin: 30px 90px ;
    text-align: center;
    display: inline-block;
    justify-self: center;
    align-items: center;
}
.termsLink{
    cursor: pointer;
    color: #3a3a3a;
    text-decoration: underline;
}
.termsLink:hover{
    cursor: pointer;
    color: #3a3a3a;
    text-decoration: underline;
}
.signupBtn{
    font-family: regular-mont;
    font-size: 22px;
    width: 84%;
    border: none;
    border-radius: 5px;
    height: 50px;
    background: #F54F59;
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 70px;
}
.signupBtn:hover{
    background-color: #ce3434;
}
#lastPara{      /* paragraph style for both signUp and login pages*/
    text-align: center;
    width: 40%;
    margin: 0 290px;
    font-family: regular-mont;
    font-size: 18px;
}
.logInLink, .signUpLink, .forgotPasslogInLink{              /* login and signup link style*/
    cursor: pointer;
    color: #e20e0e;
    text-decoration: none;
}
.logInLink:hover, .signUpLink:hover, .forgotPasslogInLink:hover{              
    cursor: pointer;                            
    color: #e20e0e;
    text-decoration: underline;
}


.loginDiv{
    background: #F8E8E9;
    width: 100%;
    height: 820px;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 30px;
}
#logInFormHeader, #ForgotPassHeader{
    width: 180px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-top: 50px;
    margin-left: 75px;
}
#logInLogoImg, #forgotPassLogo{
    height: 50px;
}
#citroneTextHeader, #citroneTextHeaderForPass{    /* Citrone text @logo styles for both login and forgot password Pages*/
    font-size: 28px;
    font-family: bold-mont;
    text-align: center;
    margin-top: 10px;
}

#logInForm{
    background: #FAFAFA;
    padding: 40px 30px 40px 50px;
    width: 90%;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 80px;
}
#logInHeader{
    font-size: 28px;
    font-family: bold-mont;
    margin: 10px 0 20px 99px;
    
}
#greetingDiv{
    /* channge display when new user sign's in */
    display: none;
    border-radius: 5px;
    width: 68%;
    padding: 10px 5px 10px 15px;
    margin: 10px 20px 10px 103px;
    background: #CDEDCC;
}
#greetingHeader{
    display: inline;
    padding: 10px 0;
    font-size: 17px;
    font-family: regular-mont;
    color: #1A9447;   
}

#congratulations{
    font-family: bold-mont;
    color: #1A9447;   
}

.loginform-Content{
    margin-left: 70px;
    width: 87%;
    padding-top: 10px;
}

.emailInputForLogin, #passwordInputForLogin{   
    border: 1px solid #A2A2A2;         /* input styles for login, forgot password and set password Pages*/
    width: 77%;                                          /* passwordInputForlogin is the password input style for the login page*/
    padding: 10px;
    border-radius: 5px;
    margin-left: 35px;
    border-width: thin;
}

.loginPassword{
display: flex;
flex-direction: column;
}

.passwordLabelsForLogin{
    display: flex;
    flex-direction: row;
    width: 77%;
    margin-left: 35px;
    margin-right: 0;
    padding: 0;

}

#passwordLabelForLogin {
    width: 92px;
    padding-left: 1px;
    padding-bottom: 10px;
    font-family: regular-mont;
    font-size: 18px;  
}
#loginPasswordInputField{
    display: flex;
}
#forgotPassword{
    width: 212px;
    font-family: regular-mont;
    font-size: 18px;
    cursor: pointer;
    color: #3a3a3a;
    text-decoration: none; 
    margin-left: auto;
    margin-right: 0;
}
#forgotPassword:hover{
    cursor: pointer;
    color: #e20e0e;
    text-decoration: underline;
    
}
#loginPasswordEye{
    border: 1px solid red;
    position: absolute;
    width: 25px;
    height: 25px;
    margin-left: 732px;
    margin-top: -22px;
}
  .login-checkbox{
    width: 180px;
    padding-left: 1px;
    display: flex;
    margin-left: 35px;
    flex-direction: row;
    margin-top: 20px;
  }
  .login-checkboxLabel {
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    margin-left: 5px; 
  }
 
  .login-checkboxLabel--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin-top: 5px;
  
    font: inherit;
    color: #3a3a3a;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #3a3a3a;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.loginBtn{
    width: 77%;
    border: none;
    border-radius: 5px;
    height: 50px;
    background: #F54F59;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 35px;
}
.loginBtn:hover{
    background-color: #ce3434;
}
#loginLastPara{      /* paragraph style for  login page*/
    text-align: center;
    display: block;
    width: 40%;
    margin: 0 250px;
    font-family: regular-mont;
    font-size: 18px;
}  
/* Styling for forgot Password Page Starts here */

.forgotPassword-container{          
    display: block;
    width: 43%;
    font-size: 28px;
    font-family: bold-mont;
    margin-bottom: 30px;
    margin-left: 35px;
}
.forgotPassForm{
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    width: 80%;
    height: 95%;
    background-color: #fafafa;
    padding: 60px 60px;
}
#forgotPassParagraph{
    font-family: regular-mont;
    line-height: 21px;
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 30px;
    width: 75%;
}
#confirmNewPassword{   
    border: 1px solid #A2A2A2;         /* input styles for login, forgot password and set password Pages*/
    width: 77%;                                          /* passwordInputForlogin is the password input style for the login page*/
    padding: 10px;
    border-radius: 5px;
    margin-left: 35px;
    border-width: thin;
}
.forgotPassBtn{            
    width: 77%;
    border: none;
    border-radius: 5px;
    height: 70px;
    background: #F54F59;
    color: #ffffff;
    font-family: semi-bold-mont;
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 35px;
    padding: 20px 0;
    
}
.forgotPassBtn:hover{
    background-color: #ce3434;
}
#forgotPasswordBottomParagraph{
    text-align: center;
    width: 40%;
    margin: 0 240px;
    font-family: regular-mont;
    font-size: 18px;
}


/* Styling for check mail Page Starts here*/
#checkMailMainDiv{  /* parent div style for all pages except the set password page*/
    background: #F8E8E9;
    width:100vw;
    height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 50px;
    
}

#checkMailContentDiv{
    background: #FAFAFA;
    padding: 40px 30px 40px 50px;
    height: 90%;
    width: 90%;
    border-radius: 5px;
    margin-left: 80px;
}
.sentContentWrapper{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
}
#sentEmailDiv{
    margin: 30px 0;
}
#checkMail{
    margin-bottom: 20px;
    font-family: semi-bold-mont;
}
#checkMailText{
    font-family: regular-mont;
}
/* Styling for Set Password Page Starts here*/

#setPassDiv{
    background: #F8E8E9;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 200px;
}
.setPassForm{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    width: 70%;
    height: 95%;
    background-color: #fafafa;
    padding: 30px 40px;
}
#setPassLabel{
    margin-left: 35px;
    margin-bottom: 10px;
    font-family: regular-mont;
    font-size: 18px;
    
}







  
  