@font-face {
    font-family: regular-mont;
    src: url(//src/components/pages/font/Mont-Regular.ttf);
  }
  
  @font-face {
    font-family: semi-bold-mont;
    src: url(//src/components/pages/font/Mont-SemiBold.ttf);
  }
  
  @font-face {
    font-family: bold-mont;
    src: url(//src/components/pages/font/Mont-Bold.ttf);
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
/* body {
    height: 100%;
    width: 100%;
    background: #F8E8E9;

  } */
   /* styling for signUp Page starts here*/

.signUp-container, #loginDiv, .forgotPasswordMainDiv, #checkMailMainDiv{  /* parent div style for all pages except the set password page*/
    background: #F8E8E9;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 50px;
    
}
.contentContainer, #forgotPassContent-div{
    padding-left: 70px;
}
#headerLogo, #forgotPassHeader{                         /* header styles for both signup and forgot password Pages*/
    width: 180px;                                        /* the header here contains the logo and it's accompany text*/
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-left: 30px;
    margin-bottom: 10px;
}
#imgHeaderLogo, #forgotPassLogo{                        /* Citrone logo styles for both signUp and forgot password Pages*/
    height: 50px;
} 
  
#logoHeader{               /* Citrone text @logo styles for both signUp and password Pages*/
    font-weight: 600;                                      
    font-size: 28px;
    font-family: bold-mont;  
    text-align: center;
    margin-top: 10px;
    
}
  
#formSignUp, .forgotPassForm{                           /* form styles for both signUp and forgot password Pages*/
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 80%;
    height: 90%;
    background-color: #fafafa;
    padding: 30px 40px;
  
}
.headerTwo{
    width: 40%;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
    margin-left: 68px;
    font-family: bold-mont;

}
.inputsContainer{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-left: 35px;
}
#signUpLabels{                             /* All pages share same label styles except the login and set password pages*/
    font-weight: 600;
    margin-left: 35px;
    font-family: regular-mont;
    font-size: 18px;
}
.namesInputs{
    border: 1px solid red;
    display: inline-flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 89%;
    gap: 24%;
    /* height: 50%; */
    color: #3a3a3a;
    margin-bottom: 5px;
    font-weight: 600;
    margin-left: 35px;
    
}
.labelNames{
    border: 1px solid rgb(0, 255, 76);
    color: #3a3a3a;
    margin-bottom: 5px;
    font-family: regular-mont;
    font-size: 18px;
    
    
}
/* .fnameInput,
/* .namesInputs{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 0 25px 35px;
} */
.fNameInput, .lNameInput{
    border:1px solid blue;
    outline: none;
    width: 160%;
    padding: 10px;
    border-radius: 5px;
    border-width: thin;
    border-color: #a2a2a2;
    background: #ffffff;
}

.fNameInput:hover{
    background: #F8E8E9;
}
.lNameInput:hover{
    background: #F8E8E9;

}
.emailPasswordContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    font-weight: 600;  
}
#inputPasswordEmail{
    width: 88%;
    padding: 10px;
    border-radius: 5px;
    border-width: thin;
    margin-left: 35px;
    border-color: #a2a2a2;
    background: #ffffff;
    outline: none;


}
#inputPasswordEmail:hover{
    background: #F8E8E9;

}
#changePasswordEye{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -33px;
    margin-top: 13px;
}
/* #uniqueCodes-container{
    margin-top: 10px;
    gap: 1px;
    padding: 3px 0;
    margin-left: 35px;
}
#asterisk{
    margin-bottom: 7px;
    margin-left: 5px;
}
#uniqueCodesAndText{
    margin-bottom: 10px;
    display: flex;
    flex-direction: rows;
    margin-top: 10px;
    margin-left: 35px;
}
.uniqueCodes{
    margin-right: 20px;
    width: 77px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    height: 48px;
    border-radius: 5px;
    border-width: thin;
    border-color: #3a3a3a;

}
.uniqueCodes:hover{
    background: #F8E8E9;
}
#uniqueCodeText{
    margin: 10px 5px;
    color: #e20e0e;
    font-size: 15px;
    width: 225px;
    margin-top: 5px;
    font-weight: 600;
} */
.termsAndPrivacy{
    font-family: regular-mont;
    font-size: 18px;
    width: 700px;
    margin: 30px 90px ;
    text-align: center;
    display: inline-block;
    justify-self: center;
    align-items: center;
}
.termsLink{
    cursor: pointer;
    color: #3a3a3a;
    text-decoration: underline;
}
.termsLink:hover{
    cursor: pointer;
    color: #3a3a3a;
    text-decoration: underline;
}
.signupBtn{
    font-family: regular-mont;
    font-size: 22px;
    width: 84%;
    border: none;
    border-radius: 5px;
    height: 50px;
    background: #F54F59;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 70px;
}
.signupBtn:hover{
    background-color: #ce3434;
}
#lastPara, .forgotPassLastPara{      /* paragraph style for both signUp and login pages*/
    text-align: center;
    width: 40%;
    margin: 0 290px;
    font-family: regular-mont;
    font-size: 18px;
}
.logInLink, .signUpLink{              /* login and signup link style*/
    cursor: pointer;
    color: #e20e0e;
    text-decoration: none;
}
.logInLink:hover, .signUpLink:hover{              
    cursor: pointer;                            
    color: #e20e0e;
    text-decoration: underline;
}

/* Styling for login Page Starts here*/

.loginDiv{
    background: #F8E8E9;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 30px;
}
#logInFormHeader, #ForgotPassHeader{
    width: 180px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-left: 75px;
    margin-bottom: 10px;    
}
#logInLogoImg, #forgotPassLogo{
    height: 50px;
}
#citroneTextHeader, #citroneTextHeaderForPass{    /* Citrone text @logo styles for both login and forgot password Pages*/
    font-size: 28px;
    font-family: bold-mont;
    text-align: center;
    margin-top: 10px;
    /* line-height: 19px; */
}
#logInForm{
    background: #FAFAFA;
    padding: 40px 30px 40px 50px;
    width: 90%;
    border-radius: 5px;
    margin-left: 80px;
}
#logInHeader{
    font-size: 28px;
    font-family: bold-mont;
    margin: 10px 0 20px 99px;
    
}
#greetingDiv{
    /* channge display when new user sign's in */
    display: none;
    border-radius: 5px;
    width: 68%;
    padding: 10px 5px 10px 15px;
    margin: 10px 20px 10px 103px;
    background: #CDEDCC;
}
#greetingHeader{
    display: inline;
    padding: 10px 0;
    font-size: 17px;
    font-family: regular-mont;
    color: #1A9447;   
}

#congratulations{
    font-family: bold-mont;
    color: #1A9447;   
}

.loginform-Content{
    margin-left: 70px;
    width: 87%;
    padding-top: 10px;
}

.emailInputForLogin, #passwordInputForLogin{            /* input styles for login, forgot password and set password Pages*/
    width: 77%;                                          /* passwordInputForlogin is the password input style for the login page*/
    padding: 10px;
    border-radius: 5px;
    margin-left: 35px;
    border-width: thin;
    border-color: #3a3a3a;
}
.passwordLabelsForLogin{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 77%;
    margin-left: 35px;
    margin-right: 0;
    padding: 0;

}

#passwordLabelForLogin {
    width: 92px;
    padding-left: 1px;
    padding-bottom: 10px;
    font-family: regular-mont;
    font-size: 18px;  
}
#forgotPassword{
    /* border: 1px solid rgb(0, 17, 255); */
    width: 212px;
    font-family: regular-mont;
    font-size: 18px;
    cursor: pointer;
    color: #3a3a3a;
    text-decoration: none; 
    margin-left: auto;
    margin-right: 0;
}
#forgotPassword:hover{
    cursor: pointer;
    color: #e20e0e;
    text-decoration: underline;
    
}
  .login-checkbox{
    width: 180px;
    padding-left: 1px;
    display: flex;
    margin-left: 35px;
    flex-direction: row;
  }
  .login-checkboxLabel {
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    margin-left: 5px; 
  }
 
  .login-checkboxLabel--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
  
  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin-top: 5px;
  
    font: inherit;
    color: #3a3a3a;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #3a3a3a;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
  
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.loginBtn{
    width: 77%;
    border: none;
    border-radius: 5px;
    height: 50px;
    background: #F54F59;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 35px;
}
.loginBtn:hover{
    background-color: #ce3434;
}
#loginLastPara{      /* paragraph style for  login page*/
    text-align: center;
    display: block;
    width: 40%;
    margin: 0 250px;
    font-family: regular-mont;
    font-size: 18px;
    border: 1px solid green;
}

/* Styling for forgot Password Page Starts here*/

.forgotPassword-container{          /* style for header in form for forgot password  and set password Pages*/
    display: block;
    width: 30%;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;
    margin-left: 35px;
}
#forgotPassParagraph{
    font: 600;
    font-family: inherit;
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 30px;
    width: 75%;
}
.forgotPassBtn{             /* button styles for both forgot password page and set password page*/
    width: 77%;
    border: none;
    border-radius: 5px;
    height: 50px;
    background: #F54F59;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 35px;
}
.forgotPassBtn:hover{
    background-color: #ce3434;
}


/* Styling for check mail Page Starts here*/

#checkMailContentDiv{
    background: #FAFAFA;
    padding: 40px 30px 40px 50px;
    width: 90%;
    border-radius: 5px;
    margin-left: 80px;
}
/* Styling for Set Password Page Starts here*/

#setPassDiv{
    background: #F8E8E9;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 120px;
    font-family: 'Montserrat', sans-serif;
}
.setPasswordForm{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 70%;
    height: 90%;
    background-color: #fafafa;
    padding: 30px 40px;
}
#setPassLabel{
    font-weight: 600;
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 18px;
}





  
  