* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  /* Landing page styling starts here */
  
  .first-container {
    background: #FEF2F2;
    height: 730px;
    padding-left: 80px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }
  
  .logo {
    width: 48px;
    height: 48px;
  }
  
  .citrone {
    margin-left: 7px;
  }
  
  .login-button {
    margin-left: 1030px;
    height: 48px;
    width: 106px;
    background: #FEF2F2;
    border: 1px solid #F54F59;
    border-radius: 6px;
    font-family: 'Lato';
    font-size: 16px;
    cursor: pointer;
    }
  
    .login-button:hover {
      background-color: #f74955;
      transition: 0.2s;
      color: #fff;
    }
  
  .paragraph-container {
  margin-top: 120px;
  }
  
  .first-paragraph {
    width: 693px;
    height: 128px;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 0.01em;
    line-height: 60px;
  }
  
  .community {
    color: #F54F59;
  }
  
  .second-paragraph {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    width: 740px;
    letter-spacing: 0.012em;
    margin-top: 40px;
  }
  
  .certified {
    color: #F54F59;
  }
  
  .start-career-button {
    font-family: 'Montserrat';
    font-size: 18px;
    color: #ffff;
    line-height: 24px;
    width: 211px;
    height: 48px;
    background: #F54F59;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
  }
  
  .start-career-button:hover {
    background-color: #ef3744;
    transition: 0.2s;
  }
  
  .section-landing-1 {
    display: flex;
  }
  
  .portrait {
    margin: 10px 50px;
    width: 463px;
    height: 650px;
  }
  
  .learning-process-container {
    background: #ffff;
    box-shadow: 2px 4px 6px 0.9px rgb(233, 233, 233);
    /* border: 1px solid red; */
    height: 128px;
    width: 1248px;
    color:#F54F59;
    margin: -57px auto;
    padding-top: 30px;
    position: relative;
    z-index: 1;
  }
  
  .learning-process-text-container {
    display: flex;
    width: 1150px;
    height: 85px;
    margin: auto;
    justify-content: space-between;
  }
  
  #learning-process-text {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.10rem;
  }
  
  #learning-process-text2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  
  .second-container {
    border: 1px solid red;
    text-align: center;
    /* padding-top: 160px; */
    justify-content: center;
    margin-top: 80px;
    
  }
  
  #second-container-heading {
    color:#F54F59;
    margin-top: 80px;
  }
  
  #carousel-image {
    border: 1px solid red;
    margin: 35px;
    width: 203px;
    height: 241px;
  }
  
  .second-container-paragraph {
    color:  #252525;
    font-size: 20px;
    margin: 20px auto;
    padding-top: 20px;
    height: 96%;
    width: 1248px;
    letter-spacing: 0.01em;
    line-height: 15px;
  }
  
  .second-container-image-container {
    display: flex;
    width: 73%;
    justify-content: space-between;
    margin: 80px 200px;
  }
  
  .Third-section-container {
    border: 1px solid blue;
    background: #FEF2F2;
    padding-top: 50px;
    text-align: center;
  }
  
  .third-section-heading {
    color: #F54F59;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0.01em;
  }
  
  .third-section-image {
    border: 1px solid black;
    display: flex;
    width: 73%;
    justify-content: space-between;
    margin: 80px 200px;
  }

  #interactive {
    color: #F54F59;
  }

  
  /* Landing page styling ends here */