*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    background: #F8E8E9;

    width: 100%;
    height: 100%;
    padding: 70px 90px;
    font-family: 'Montserrat', sans-serif;
} */
#logInFormHeader{
    /* border: 1px solid blue; */
    width: 180px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-left: 95px;
    margin-bottom: 10px;    
}
#logInLogoImg{
    height: 50px;
}
#citroneTextHeader{
    font-weight: 600;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
    /* line-height: 19px; */
}
#logInForm{
    background: #FAFAFA;
    padding: 40px 30px 40px 50px;
    width: 80%;
    border-radius: 5px;
    margin-left: 100px;
}
#logInHeader{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 10px 70px;
}
#greetingDiv{
    border-radius: 5px;
    width: 80%;
    padding: 10px 15px 10px 32px;
    margin: 10px 20px 10px 70px;
    background: #CDEDCC;
}
#greetingHeader{
    display: inline;
    padding: 10px 0;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #1A9447;
    
}
#congratulations{
    font-weight: 600;
}
.form-Content{
    margin-left: 70px;
    width: 87%;
    padding-top: 10px;
}
.emailPasswordContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    font-weight: 600;   
}
#emailLabel{
    margin-bottom: 10px;
}
.emailPasswordContainer input[type="email"], .emailPasswordContainer input[type="text"]{
    width: 88%;
    padding: 10px;
    border-radius: 5px;
    border-width: thin;
    margin-left: 35px;
}
.passwordLabels {
    padding-left: 1px;
    padding-bottom: 10px;
    margin-left: 35px;
    width: 88%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
/* #passwordLabel{
    margin-bottom: 10px;
} */
#forgotPassword{
    cursor: pointer;
    color: #3a3a3a;
    text-decoration: none; 
    margin-left: 522px;
    margin-right: none;    

}
#forgotPassword:hover{
    cursor: pointer;
    color: #e20e0e;
    text-decoration: underline;
    
}
/* #changePasswordEye{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -33px;
    margin-top: 13px;
} */
#checkbox input [type="radio"]:active {
    background-color: #3a3a3a;
}
.loginBtn{
    width: 88%;
    border: none;
    border-radius: 5px;
    height: 50px;
    background: #F54F59;
    color: #ffffff;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 35px;
}
.loginBtn:hover{
    background-color: #ce3434;
}
#lastPara{
    text-align: center;
    width: 250px;
    margin: 0 250px;
}
.signUpLink{
    cursor: pointer;
    color: #e20e0e;
    text-decoration: none;
}
.signUpLink:hover{
    cursor: pointer;
    color: #e20e0e;
    text-decoration: underline;
}