*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #F8E8E9;
    width: 100%;
    height: 100%;
    padding: 70px 90px;
    font-family: 'Montserrat', sans-serif;
}
#header{
    width: 1180px;
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-left: 30px;
    margin-bottom: 10px;
    
}
img{
    height: 50px;
}
#headerText{
    font-weight: 800;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}