* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body { 
  min-height: 100vh; 
}

/* Assignment styling starts here */
/* NavBar Styling starts here */
/* .sWrapper{
  border: 1px solid green;
  display: block;
  height: 100px;
} */
.aWrapper {
  display: flex;
  background: #FEF2F2;
  margin: auto;
  height: auto;
  
  
}
.searchBar {
  margin-left: 13.5rem;
  margin-top: 1rem;
  width: 712px;
  height: 48px;
  padding-left: 2rem;
  background: #FFFFFF;
  border: 1px solid #A2A2A2;
  border-radius: 10px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 21px;
  color: #A2A2A2;
  background-image: url('/src/components/pages/dashboardpage/images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 42rem;
  outline: none;
}
.assignmentHeader{
  margin: 50px 0 20px 100px;
  font-size: 26px;
}
.assignmentModulesMainDiv{

  margin: 20px 50px 0 100px;
  height: 50%;
  overflow: scroll;
    
}
  
.assignmentModuleAndTopicCompleted { 
  background: #ffff;
  border-right: 5px solid #1A9447;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-left: 10px;
  width: 944px;
  height: 144px;
  color: #3A3A3A;
  
}
.assignmentModule{
  font-family: 'Mont';
}
.assignmentModule{
  display: flex;
  flex-direction: column;
    
}
.allModules{
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
  width: 70px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.1rem;
}
#assignmentNumber{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 700;
}
.verticalLine{
  margin-left: 20px;
  width: 6px;
  height: 112px;
  background-image: url('/src/components/pages/dashboardpage/images/Line.png');
}
.assignmentTopic{
  letter-spacing: 1.5px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.assignmentsModulesParagraph{
  font-weight: 600;
  font-family: 'Mont';
  font-size: 15px;
  letter-spacing: 1.5px;
  color: #3a3a3a;
}
.assignmentsParagraphsDiv{
  display: flex;
  gap: 80px;

}
.lessonAssignments{
  text-decoration: none;
  color: #252525;
  font-family: 'Mont';
  font-weight: 600;

}
.lessonAssignments:hover{
  text-decoration: none;
  color: #252525;   
}

.lessonIcon{
  margin-right: 13px;
  margin-bottom: 3px;
}
.assignmentsSubmitted{
  text-decoration: none;
  color: #29b85e;
  margin-left: 13px;
  font-family: 'Mont';
  font-weight: 600;
  
}
.assignmentsSubmitted:hover{
  color: #1a9447;
  
}
.assignmentsSubmittedIcons{
  margin-right: 13px;
  margin-bottom: 3px;
    
}
.assignmentParagraphs{  
height: 7rem;
padding: 1px 20px;
}

.assignmentModuleAndTopicNotCompleted { 
  background: #ffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-left: 10px;
  width: 944px;
  height: 144px;
  color: #3A3A3A;
}
.assignmentsParagraphsNotCompleted{
  height: 7rem;
  padding: 1px 20px;
}
.assignmentsNotSubmitted{
  text-decoration: none;
  color: #f54f59;
  margin-left: 13px;
  font-family: 'Mont';
  font-weight: 600;
  
}
.assignmentsNotSubmitted:hover{
  color: #f54f59;
}
  
  
  /* styles for Lesson Assignments Page starts here */
.lessonModulesMainDiv{

  margin: 20px 50px 0 100px;
  height: 50%;
      
}

.assignmentHeaderOne{
  font-family: 'Mont';
  font-weight: normal;
  font-size: 16px;
  margin: 30px 0 20px 1px;
}

.assignmentHeaderTwo{
  font-family: 'Mont';
  font-weight: normal;
  margin: 50px 0 20px 1px;
  font-size: 26px;
}

 
.redHeader{
  color: #f54f59;
  font-weight: 300;
  font-size: 16px;
  
}
span{
  color: #252525;
}
.assignmentLessons { 
  background: #ffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-left: 10px;
  width: 944px;
  height: 144px;
  color: #3A3A3A;
}
.lessonParagraphsGraded{
  height: 7rem;
  padding: 1px 0px 1px 20px;
  /* margin-right: 5px; */
}
/* i {
  content: "\276F";
} */
.gradedParagraph{
  color: #1A9447;
  font-size: medium;
  font-weight: 500;

}
.viewGradeBtn{
  outline: none;
  height: 48px;
  width: 116px;
  text-align: center;
  font-size: 16px;
  background: #1A9447;
  top: 272px;
  border-radius: 5px;
  padding: 8px 1px 8px;
  margin: 30px 0 0 10px;
  border: none;

}
.viewGradeBtn:hover{
  background: #078134;

}
.viewGradeLink{
  text-decoration: none;
  color: #ffffff;
}
.viewGradeLink:hover{
  text-decoration: none;
  color: #ffffff;
}

/* Styles for lesson module 2 starts here */

.lessonParagraphsElapsed{
  height: 7rem;
  padding: 1px 0px 1px 20px;
}
.elapsedParagraph{
  color: #f54f59;
}
.elapsedBtn{
  outline: none;
  height: 48px;
  width: 116px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  background: #BDBDBD;
  top: 272px;
  border-radius: 5px;
  padding: 8px 1px 8px;
  margin: 30px 0 0 10px;
  border: none;

}

.lessonParagraphsGraded{
  height: 7rem;
  padding: 1px 0px 1px 20px;
  /* margin-right: 5px; */
}
.awaiting{
  color: #F1A207
}
/* .elapsedBtn{
  outline: none;
  height: 48px;
  width: 116px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  background: #f54f59;
  top: 272px;
  border-radius: 5px;
  padding: 8px 1px 8px;
  margin: 30px 0 0 10px;
  border: none;

} */
.lessonParagraphsAwaiting{
  width: 60rem;
  margin-right: 10px;
  height: 7rem;
  padding: 1px 0px 1px 20px;
  /* margin-right: 5px; */
}
.reSubmitBtn{
  outline: none;
  height: 48px;
  width: 200px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  background: #f54f59;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  margin: 30px 20px 0 20px;
  border: none;

}
.reSubmitBtn:hover{
  
  background: #d1424c;
  

}

.unStartedDueDate{
  color: #f54f59;
}

.unStartedBtn{
  outline: none;
  height: 48px;
  width: 116px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  background: #f54f59;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  margin: 30px 10px 0 20px;
  border: none;
}
.unStartedBtn:hover{
  background: #d1424c;
}
.lessonSideBar{
  overflow: hidden;
}

/* Styles for Lesson grades starts here */
.gradesDiv{
  margin-left: 90px;
}

.gradesContentsDiv{
  display: flex;
  flex-direction: column;
  width: 944px;
  height: 700px;
  border:1px solid#F99DA2;
  background: #ffffff;
  justify-items: center;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;

}

.modLessHeader{
  font-size: 24px;
  font-family: 'Mont';
  /* margin: 2px 0; */
}
.gradesLine{
  width: 52rem;
  border: 1px solid #A2A2A280
}
.due-GivenDate{
  /* border: 1px solid red; */
  height: 50px;
  display:inline-block;
  margin: 0 0 10px 0;
  padding: 0;
}
.given-date{
  margin: 2px 0;
  padding: 0;
}
.acquiredGrades{
  color: #F54F59;
  font-weight: bold;
  font-size: 30px;
  margin-top: 180px;
  margin-bottom:50px;

}
.remarks{
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'mont';
}
.viewBreakdown{
  text-decoration: none;
  background-color: #f54f59;
  color: #FFFFFF;
  width: 848px;
  height: 48px;
  padding: 8px 28px;
  border-radius: 5px;
  /* font-family: 'mont';
  font-size: 18px;
  text-align: center; */
}

   