@font-face {
  font-family: regular-mont;
  src: url(//src/components/pages/font/Mont-Regular.ttf);
}

@font-face {
  font-family: semi-bold-mont;
  src: url(//src/components/pages/font/Mont-SemiBold.ttf);
}

@font-face {
  font-family: bold-mont;
  src: url(//src/components/pages/font/Mont-Bold.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.assignmentsMainWrapper {
  display: flex;
  background: #FEF2F2;
  margin-left: 250px;
  margin-right: 0;
  width: auto;
  height: 100vh;
  
}

.searchBarAssignment {
  margin-left: 28rem;
  margin-top: 7rem;
  width: 712px;
  height: 48px;
  padding-left: 2rem;
  background: #FFFFFF;
  border: 1px solid #A2A2A2;
  border-radius: 10px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 21px;
  color: #A2A2A2;
  background-image: url('/src/components/pages/dashboardpage/images/search-icon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 42rem;
  outline: none;
}
.assignmentHeader{
  margin: 50px 0 20px 20rem;
  font-size: 26px;
  font-family: bold-mont;
}

.assignmentModulesMainDiv{

  margin: 20px 50px 0 100px;
  height: 73%;
  overflow: scroll;
  /* overflow-y: scroll;
  overflow-x: hidden; */
    
}
  
.assignmentModuleAndTopicCompleted { 
  background: #ffff;
  border-right: 5px solid #1A9447;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-left: 10px;
  margin-right: 10px;
  width: 944px;
  height: 144px;
  color: #3A3A3A;
  
}

.assignmentModule{
  display: flex;
  flex-direction: column;
    
}
.allModules{
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  width: 90px;
  font-family: bold-mont;
  font-size: 18px;
  letter-spacing: 0.1rem;
}
#assignmentNumber{
  margin-top: 15px;
  margin-left: 50px;
  font-size: 25px;
  font-family: bold-mont;  
  
}
.verticalLine{
  margin-left: 20px;
  width: 6px;
  height: 112px;
  background-image: url('/src/components/pages/dashboardpage/images/Line.png');
}
.assignmentTopic{
  display: inline;
  letter-spacing: 1.5px;
  font-family: bold-mont;
  font-size: 24px;
}
.assignmentsModulesParagraph{
  font-family: regular-mont;
  font-size: 16px;
  color: #3a3a3a;
  padding-top: 5px;
}
.assignmentsParagraphsDiv{
  display: flex;
  gap: 80px;

}
.lessonAssignments{
  text-decoration: none;
  color: #252525;
  font-family: regular-mont;
  font-size: 16px;
  padding-top: 5px;

}
.lessonAssignments:hover{
  text-decoration: none;
  color: #252525;

}

.lessonIcon{
  margin-right: 13px;
  margin-bottom: 10px;
}
.assignmentsSubmitted{
  text-decoration: none;
  color: #29b85e;
  margin-left: 13px;
  font-family: regular-mont;
  font-size: 16px;
  padding-top: 5px;
  
}
.assignmentsSubmitted:hover{
  color: #1a9447;
  
}
.assignmentsSubmittedIcons{
  margin-right: 13px;
  margin-bottom: 5px;

    
}
.assignmentParagraphs{  
height: 7rem;
padding: 1px 20px;
}
.hrForAssignments{
  margin: 1rem 1rem 1rem 0.2rem;
}

.assignmentModuleAndTopicNotCompleted { 
  background: #ffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-left: 10px;
  width: 944px;
  height: 144px;
  color: #3A3A3A;
}
.assignmentsParagraphsNotCompleted{
  height: 7rem;
  padding: 1px 20px;
}
.assignmentsNotSubmitted{
  padding-top: 5px;
  text-decoration: none;
  color: #f54f59;
  margin-left: 13px;
  font-family: regular-mont;
  
}
.assignmentsNotSubmitted:hover{
  color: #f54f59;
}
.assignmentsSubmittedIcons{
  margin-bottom: 5px;
}
  
  
  /* styles for Lesson Assignments Page starts here */

.lessonModulesMainDiv{

  margin: 83px 50px 0 100px;
  height: 80%;
  padding-top: 30px;
      
}

.assignmentHeaderOne{
  font-family: regular-mont;
  display: inline;
  font-size: 16px;
  margin: 50px 0 20px 1px;
}

.assignmentHeaderTwo{
  font-family: semi-bold-mont;
  margin: 30px 0 20px 1px;
  font-size: 26px;
}

 
.redHeader{
  color: #f54f59;
  font-family: semi-bold-mont;
  font-size: 16px;
  
}
span{
  color: #252525;
}
.assignmentLessons { 
  background: #ffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  padding-left: 10px;
  width: 944px;
  height: 144px;
  color: #3A3A3A;
  margin-left: 15rem;
}
.lessonParagraphsGraded{
  height: 7rem;
  padding: 1px 0px 1px 20px;
  
}

.gradedParagraph{
  color: #1A9447;
  font-family: regular-mont;
  font-size: 16px; 

}
.viewGradeBtn{
  outline: none;
  height: 48px;
  width: 116px;
  text-align: center;
  font-family: regular-mont;
  font-size: 16px;
  background: #1A9447;
  top: 272px;
  border-radius: 5px;
  padding: 8px 1px 8px;
  margin: 30px 0px 0 80px;
  border: none;

}
.viewGradeBtn:hover{
  background: #078134;

}
.viewGradeLink{
  text-decoration: none;
  color: #ffffff;
}
.viewGradeLink:hover{
  text-decoration: none;
  color: #ffffff;
}

/* Styles for lesson module 2 starts here */

.lessonParagraphsElapsed{
  height: 7rem;
  padding: 1px 0px 1px 20px;
}
.elapsedParagraph{
  color: #f54f59;
}
.elapsedBtn{
  outline: none;
  height: 48px;
  width: 116px;
  text-align: center;
  font-family: regular-mont;
  font-size: 16px;
  color: #FFFFFF;
  background: #BDBDBD;
  top: 272px;
  border-radius: 5px;
  padding: 8px 1px 8px;
  margin: 30px 0 0 80px;
  border: none;

}

/* Styles for lesson module 3 starts here */

.lessonParagraphsAwaiting{
  width: 40rem;
  margin-right: 10px;
  padding: 1px 0px 1px 20px;
}
.lessonTopic{
  display: inline;
  font-family: bold-mont;
  font-size: 24px;
}
.awaiting{
  color: #F1A207
}

.reSubmitBtn{
  outline: none;
  height: 48px;
  width: 159px;
  text-align: center;
  font-family: regular-mont;
  font-size: 16px;
  color: #FFFFFF;
  background: #f54f59;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  margin: 30px 20px 0 20px;
  border: none;

}
.reSubmitBtn:hover{
  
  background: #d1424c;
  

}

/* Styles for lesson module 4 starts here */

.unStartedDueDate{
  color: #f54f59;
}

.unStartedBtn{
  outline: none;
  height: 48px;
  width: 116px;
  text-align: center;
  font-family: regular-mont;
  font-size: 16px;
  color: #FFFFFF;
  background: #f54f59;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  margin: 30px 10px 0 85px;
  border: none;
}
.unStartedBtn:hover{
  background: #d1424c;
}


/* Styles for Lesson grades page starts here */

.assignmentsMainWrapperForGrades {
  display: flex;
  background: #FEF2F2;
  margin-left: 250px;
  width: 100vw;
  height: 100vh;
  
}

.gradesDiv{
  height: inherit;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 84px;
  margin-left: 90px;
  gap: 10px;
}
.assignmentHeaderOne{
  width: 455px;
  margin: 20px 0 20px 0;
}

.gradesContentsDiv{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border:1px solid#F99DA2;
  background: #ffffff;
  justify-items: center;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
}

.modLessHeader{
  font-size: 24px;
  font-family: regular-mont;
  margin: 0;
}
.gradesLine{
  border: 1px solid #A2A2A280;
  width: 52rem;
  color: #A2A2A280;
  
}
.due-GivenDate{
  /* border: 1px solid red; */
  height: 50px;
  font-family: regular-mont;
  font-size: 18px;
  display:inline;
  margin: 0 0 10px 0;
  padding: 0;
}
.given-date{
  font-family: regular-mont;
  font-size: 18px;
  margin: 2px 0;
  padding: 0;
}
.acquiredGrades{
  color: #F54F59;
  font-family: bold-mont;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.remarks{
  font-family: bold-mont;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'mont';
}
.remarksParagrapghTwo{
  font-family: regular-mont;
  margin-bottom: 20px;
}  
.viewBreakdown{
  text-decoration: none;
  background-color: #f54f59;
  color: #FFFFFF;
  width: 848px;
  height: 48px;
  padding: 8px 28px;
  border-radius: 5px;
  font-family: regular-mont;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}
.viewBreakdown:hover{
  background: #d1424c;
  color: #FFFFFF;

}

/* Styles for Grades breakdown page starts here */

.gradesBreakdownDiv{
  height: 100%;
  width: 100%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin-top: 84px;
  margin-left: 90px;
  gap: 10px;
}
.gradesHeaderTwo{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.gradesBreakdownDueDate{
  font-family: regular-mont;
  font-size: 16px;
}
.dueDateRightHeader{
  margin-top: 15px;
}